<div class="aside-widget img-rounded">
    <header>
        <h3 class="text-center"></h3>
    </header>
    <div class="master_body"> 
    <div class="master_panel">
        
        <a href="{% url 'main_article:userRead' master.id %}"data-toggle="tooltip" data-placement="top" title="拒做犬儒！！">
            <img class="round_icon center-block" src="{{master.avatar.url}}">
        </a>
        <span style="margin-top:-110px "class="btn btn-default ">95后</span>
        <span style="margin-top:-100px "class="btn btn-default pull-left">GeekMan</span>
        <span style="margin-top:-60px "class="btn btn-default pull-right">嗜睡</span>
        <span style="margin-top:-100px "class="btn btn-default pull-right">TechMan</span>
        <p class="text-center master_name" data-toggle="tooltip" data-placement="bottom" title="Call me 煎饼">
            {{master.user.username}}<span>站长</span></p>  
    </div>  
    </div>
</div>
