{% load blog_tags %}
{% get_archives_all as articles_archive %}
<div class="aside-widget img-rounded">
  <header>
    <h3>日期归档</h3>
  </header>
    <div class="body">
      {% regroup articles_archive by pubDateTime.year as years %}
        <ul class="clean-list">
        	{% for year in years %}
          <li>{{ year.grouper }} 年
            {% regroup year.list by pubDateTime.month as months %}
            <ul class="clean-list">
              {% for month in months %}
              <li><a href="{% url 'main_article:articleArchive' %}#{{ year.grouper }}{{ month.grouper }}">{{month.grouper}}月</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
    </div>
</div>