{% extends 'main_article/base.html' %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}

{% regroup articles_archive by pubDateTime.year as year_post_group %}
<ul>
  {% for year in year_post_group %}
  <li>{{ year.grouper }} 年
    {% regroup year.list by pubDateTime.month as month_post_group %}
    <ul>
      {% for month in month_post_group %}
      <li id="{{ year.grouper }}{{ month.grouper }}">{{ month.grouper }} 月
        <ul>
          {% for post in month.list %}
          <li><a class="orange_font" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

{% endblock %}