 {% load staticfiles %}   
 {% for article in articles %}              
<div class="row">  
     <div class="col-md-12 col-sm-12 ">        
          <article class=" blog-teaser  img-rounded">        
              <header>      
                  <!-- <img src="{% static 'main_article/img/1.jpg'%}">    -->       
                  <h4>
                  <a  class="article_title" href="{% url 'main_article:articleRead' article.id %}"><b>{{ article.title }}</b></a>
                  </h4>
                   <span class="meta">
                   {{ article.excerpt|safe}}...
                  </span>
                 <hr>
              </header>
              
              <div class="body">
               <i class="fa fa-print"></i><a href="{% url 'main_article:categoryRead' article.category.id %}">{{article.category}}</a>  
               <i class="fa fa-calendar"></i>{{ article.pubDateTime|date:'Y-m-d' }}
               <i class="fa fa-user" ></i><a href="{% url 'main_article:userRead' article.author.id %}" class="usernameclick">
               {% if article.author.profile.nickname %}  
               {{article.author.profile.nickname}}
               {% else %}
               {{article.author}}
               {% endif %}            
               </a>
               <i class="fa fa-eye"></i>{{article.read_num}}
               
               <a class="fa fa-comments" href="{% url 'main_article:articleRead' article.id %}#comments"></a> {{article.comment_num}}             
               <a class="fa fa-thumbs-o-up" href="{% url 'main_article:articleRead' article.id %}#likes"></a>{{article.likes}}
               
               {% for tag in article.tags.all %}  
               {% if forloop.first %}                
               <i class="fa fa-tag"></i>
               {% endif %}                          
               <a href="{% url 'main_article:tagRead' tag.id %}">{{ tag.name }}
               {% if not forloop.last %}
               ,
               {% endif %}
               </a>
               {% endfor %}
               
              </div>

              <div class="clearfix">
                  
                  <a href="{% url 'main_article:articleRead' article.id %}" class="btn btn-clean-one">Read more</a>
                  
                  {% if user.is_superuser%}
                  <form class="inlineBlock" method="post" action="{% url 'main_article:articleDelete' article.id %}" onclick="return del()">
                  {% csrf_token %}
                  <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                  <a class="btn btn-primary" href="{% url 'main_article:articleUpdate' article.id %}">修改</a>
                  {% endif %}
                  
              </div> 
                         
          </article>
          
      </div>
</div>
{% empty %}
暂无文章
{% endfor %} 


