<div class="fixed">
  <div class="aside-widget-fixed img-rounded" id="title_list">
      <header>
      <h3>文章目录</h3>
      </header>
      {{title_list_html|safe}}   
  </div>
</div>
<!-- 
<script type="text/javascript">
$(window).scroll(function() {
    var sidebar = $('.blog-aside');
    var sidebarHeight = sidebar.height();
    var windowScrollTop = $(window).scrollTop();
    if (windowScrollTop > sidebarHeight - 60 && sidebar.length) {
        $('.fixed').css({
            'position': 'fixed',
            'top': '320px',
            'width': '360px'
        });
    } else {
        $('.fixed').removeAttr("style");
    }
    $('.fixed_index').css({
            'position': 'fixed',
            'top': '100px',
            'width': '360px'
        });
});
</script>
 -->