<!DOCTYPE html>
{% load staticfiles %}

<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>zengzhengrongBlog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="{% static 'main_article/img/timg2.jpg'%}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'main_article/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <link rel="stylesheet" href="{% static 'main_article/css/font-awesome/css/font-awesome.min.css' %}">   
    <link rel="stylesheet" href="{% static 'guestbook/css/guestbookstyle.css' %}" id="theme-styles">
    <!--ckeditor-->
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism.css' %}" id="ckeditor-styles">
    
    {% block css %}
    {% endblock %}
    
    <!--[if lt IE 9]>      
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
    
</head>
<body>
    <header>
    {% include 'main_article/menu.html'%}
    {% include 'main_article/categorymenu.html'%}
    {% include 'main_article/searchform.html' %}
    </header>
        <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                {% include 'main_article/messages.html' %}
                       {% block content %}
    
                       {% endblock %}
                       {% block comment%}
                       {% endblock %}
                </div>

            </div>
        </div>
    </div>

    <footer>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'main_article/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main_article/js/modernizr.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <script src="{% static 'notifications/notice.js' %}"></script>
    
    
    <script type="text/javascript">
    function del() 
    {
	var msg = "您真的确定要删除吗？\n确认后无法撤回！";
	if (confirm(msg)==true)
	{return true;}
	else
	{return false;}
	}
    </script>
    <script>
	//移除默认风格属性，填充满整个container
	    $(".django-ckeditor-widget").removeAttr('style');
	</script>

</body>
</html>