{% extends 'account/form.html' %}
{% block buttons %}
    <button type="button" id="password_look" class="btn btn-danger"
    >显示密码</button>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $("#password_look").click(function(){
    //close button
    var unlook = $(this).text() ;
    var password1 = document.getElementById('id_new_password');;
    var password2 = document.getElementById('id_new_password_again');
    password1.type = (password1.type=='password') ? 'text' : 'password';
    password2.type = (password2.type=='password') ? 'text' : 'password';
    if(unlook == '隐藏密码'){
      $(this).removeClass('btn-primary');
      $(this).addClass('btn-danger');
      $(this).text('显示密码');
    }
    else{
      $(this).removeClass('btn-danger');
      $(this).addClass('btn-primary');
      $(this).text('隐藏密码');
    }
    
  });
</script>
{% endblock %}