{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block content %}

<div class="containter">	
	<div class="row">
		<div class="col-md-6 col-md-offset-6">	
			<a style="float:right;" class="btn btn-info" href="{% url 'account_signup' %}">快速注册</a>
			{% get_providers as socialaccount_providers %}
			
			{% if socialaccount_providers %}
			<a>第三方登录</a>
			<div class="socialaccount_ballot">
			
			  <a class="socialaccount_providers">
			  
			  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
			    
			  </a>
			</div>
			
			{% include "socialaccount/snippets/login_extra.html" %}
			{% endif %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">使用本站账号</h3>
			  </div>
			  
			  <div class="panel-body">
			  
			    <form class="login" method="POST" action="{% url 'account_login' %}">
				  {% csrf_token %}
				  {{ form|crispy }}
				  {% if redirect_field_value %}
				  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				  {% endif %}					
				  <a style="float:left;" class="btn btn-warning" href="{% url 'account_reset_password' %}">忘记或修改密码?</a>  		  
				  <div style="float:right;">
				  	<button class="btn btn-primary"  type="submit">{% trans "Sign In" %}</button>
				  	
				  </div>
				  
				</form>
				
			  </div>
			</div>			
		</div>
	</div>
</div>
{% endblock %}
