{% load socialaccount %}
<!--  
&nbsp&nbsp&nbsp&nbsp&nbsp<a class="fa fa-weibo"></a>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="fa fa-weixin"></a>
-->
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}

{% if provider.id == "openid" %}

{% for brand in provider.get_brands %}

  
  <a title="{{brand.name}}" 
     class="fa fa-github socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}
  </a>

{% endfor %}

{% endif %}

  
<a title="{{provider.name}}" class="btn {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
     <i class="fa fa-github-square fa-3x"></i>
     <br>
     <i>{{provider.name}}</i>
</a>

{% endfor %}
